header {
  text-align: center;
  background-color: rgb(130, 80, 255);
}

/* MAIN SECTION */

form {
  display: flex;
  flex-direction: column;
}

.create-contain,
.title-contain,
.priority-contain {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h2 {
  font-size: 1.6rem;
}

.btn-contain {
  display: flex;
  justify-content: space-around;
}

/* Buttons & Input */

.date-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid rgb(205, 192, 192);
  background-color: white;
  font-weight: 500;
}

.date-btn.active {
  background-color: rgb(0, 255, 149);
  border: none;
}

.task-title {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(205, 192, 192);
}

.priority-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid rgb(205, 192, 192);
  background-color: white;
  font-weight: 500;
}

.create-btn,
.back-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem;
  margin: 1rem;
  background-color: rgb(130, 80, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.back-btn {
  background-color: rgb(63, 53, 90);
  margin-top: 0;
}
