/* HEADER - FROM TODO CSS */

.add-habit-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(130, 80, 255);
  font-size: 1rem;
  font-weight: bold;
}

/* MAIN */

main {
  display: flex;
  margin: 1rem;
}

.habit-container {
  display: flex;
}

h2 {
}

.habit-daily-contain,
.habit-weekly-contain {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.habit-daily-contain {
  margin-bottom: 0.5rem;
}

.habit-box {
  text-align: center;
  border-radius: 10px;
  width: 47%;
  padding: 75px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #f9f9f9;
}
