/* HEADER - TITLE & CALENDAR */

body {
  background-color: #f9f9f9;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}

.header-shape {
  background-color: rgb(252, 116, 116);
  width: 100%;
  height: 95%;
  border-radius: 0 0 90% 400%/ 0 0 200px 250px;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  font-size: 3.5rem;
  margin-top: 20px;
  margin-left: 1.5rem;
}

.title-contain {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.notebook {
  width: 100px;
}

.title {
  font-size: 1.5rem;
}

.add-task-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(89, 245, 157);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

.task-contain {
  margin: 0.5rem 3rem;
}

.task-contain h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ul-task {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
}

.task-box label {
  font-size: 1.5em;
  font-weight: 400;
}

/* probably wrong */

.task-box input {
  margin-right: 0.5rem;
  align-content: center;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
