/* HEADER - TITLE & CALENDAR */

body {
  background-color: rgb(224, 225, 238);
}
header {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.title-contain h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.add-task-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(20, 255, 188);
  font-size: 1rem;
  font-weight: bold;
}

.calendar-contain {
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.week {
  display: flex;
  gap: 1.5rem;
  padding: 0px 0px 30px 0px;
}

.day {
  text-align: center;
}

.day-name {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: rgb(20, 255, 188);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

.today-contain,
.tomorrow-contain {
  margin: 0.5rem 1rem;
}

.today-contain h2,
.tomorrow-contain h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  padding: 1.5rem 10px;
}

.task-box label {
  font-size: 1.2rem;
  font-weight: 500;
}

/* probably wrong */

.task-box input {
  margin-right: 0.5rem;
}

.priority {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.low {
  background-color: rgb(156, 255, 199);
  padding: 3px 6px;
  border-radius: 5px;
}

.medium {
  background-color: rgb(156, 224, 255);
  padding: 3px 6px;
  border-radius: 5px;
}

.high {
  background-color: rgb(255, 156, 156);
  padding: 3px 6px;
  border-radius: 5px;
}
